# Ignore Keras model files
*.keras

# Ignore model checkpoints
checkpoints/
*.ckpt
*.hdf5

# Ignore dataset and large files
data/
*.csv
*.tsv
*.json
*.npz
*.npy

# Ignore logs and cache
logs/
*.log
__pycache__/
*.pyc

# Ignore Jupyter notebook checkpoints
.ipynb_checkpoints/

# Ignore virtual environment
venv/
.env
